---
// src/components/ProductCard.astro
interface Props {
  id: number;
  name: string;
  description: string;
  price: number;
  image: string;
}
const { id, name, description, price, image } = Astro.props;
---

<article transition:name={`photo-${String(id)}`} class="product-card">
  <div>
    <img src=`${image}` alt={name} />
    <div class="product-info">
      <h2>{name}</h2>
      <p>{description}</p>
      <span>${price}</span>
    </div>
  </div>
</article>

<style>
  .product-card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
  }

  .product-card img {
    width: 100%;
    height: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .product-info {
    margin-top: -0.313rem;
    padding: 0.5rem;
    text-align: center;
    background-color: var(--main-pink);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .product-info h2 {
    margin: 0.5rem 0;
    font-size: 1.2rem;
  }

  .product-info p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 0.5rem;
  }

  .product-info span {
    font-weight: bold;
    color: #333;
  }
</style>
