---
import ProductCard from "./ProductCard.astro";
import ProductDetail from "./ProductDetail.astro";
import products from "../content/products.json";
---

<div class="gallery" data-products={JSON.stringify(products)}>
  {
    products.map((product) => (
      <div data-product-id={product.id} class="product-card">
        <ProductCard
          id={product.id}
          name={product.name}
          description={product.description}
          price={product.price}
          image={product.image}
        />
      </div>
    ))
  }
</div>
<ProductDetail />

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const gallery = document.querySelector(".gallery");
    const products = JSON.parse(gallery.getAttribute("data-products"));

    const cards = document.querySelectorAll(".product-card");
    cards.forEach((card) => {
      card.addEventListener("click", function () {
        const productId = parseInt(this.getAttribute("data-product-id"));
        const product = products.find((p) => p.id === productId);

        if (product) {
          const detailOverlay = document.getElementById(
            "product-detail-overlay"
          );
          detailOverlay.style.display = "flex";
          const productImage = document.querySelector(
            ".product-detail img"
          ) as HTMLImageElement;
          productImage.src = product.image;
          productImage.alt = product.name;
          document.querySelector(".product-detail h1").textContent =
            product.name;
          document.querySelector(".product-detail p").textContent =
            product.description;
          document.querySelector(".product-detail span").textContent =
            `$${product.price}`;
        }
      });
    });
  });

  function closeDetail() {
    document.getElementById("product-detail-overlay").style.display = "none";
  }

  declare global {
    interface Window {
      closeDetail: () => void;
    }
  }

  window.closeDetail = closeDetail;
</script>

<style>
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1rem;
    padding: 1rem 0;
  }

  @media (max-width: 1350px) {
    .gallery {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (max-width: 900px) {
    .gallery {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 600px) {
    .gallery {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
