---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import products from "../../content/products.json";
import testImg from "../../images/test.jpg";

export function getStaticPaths() {
  return products.map(({ id }) => ({ params: { id } }));
}

const { id } = Astro.params;
const product = products.find((product) => product.id === Number(id));
---

<Layout
  title="AK Boutique - Sklep Online | Odkryj Najnowsze Trendy"
  description="Odkryj najnowsze trendy w czołowym miejscu mody w Polsce! Zakupy online kolekcji stylowych ubrań i akcesoriów na każdą okazję. Podnieś swoją garderobę dzięki modnym i wysokiej jakości produktom. Szybka wysyłka w całej Polsce. Kup teraz i wyraź swój unikatowy styl!"
>
  <main transition:name={`photo-${String(product.id)}`} class="product-detail">
    <a class="back-btn" href="/">X</a>
    <div class="product-display">
      <Image src={testImg} alt={product.name} />
      <div class="product-info">
        <h1>{product.name}</h1>
        <p class="description">{product.description}</p>
      </div>
      <div class="price-and-cart">
        <span class="product-price">${product.price}</span>
        <button class="add-to-cart-btn" id="add-to-cart-btn">Add to Cart</button
        >
      </div>
    </div>
  </main>

  <style>
    .product-detail {
      background: var(--main-pink);
      padding: 1.5rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      max-width: fit-content;
      width: 80%;
      height: auto;
      margin: 1rem auto;
      overflow: hidden;
    }

    .back-btn {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 3rem;
      background: none;
      border: none;
      cursor: pointer;
      text-decoration: none;
      color: inherit;
    }

    .back-btn:hover,
    .back-btn:focus,
    .back-btn:active,
    .back-btn:visited {
      text-decoration: none;
      padding: 0;
      margin: 0;
    }

    .product-display {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 1rem;
      width: 100%;
      height: 100%;
    }

    img {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
      place-self: center;
      max-width: 100%;
      height: auto;
    }

    .description {
      font-size: 1rem;
      color: var(--secondary-dark);
      margin: 0 3rem;
    }

    .product-info {
      grid-column: 2 / -1;
      grid-row: 1 / -1;
      font-size: 1rem;
      color: var(--secondary-dark);
      padding: 2rem;
    }

    .product-info h1 {
      font-size: 2rem;
      color: var(--main-dark);
      text-align: center;
      margin-bottom: 2rem;
    }

    .price-and-cart {
      grid-column: 2 / -1;
      grid-row: 2 / -1;
      align-items: end;
      display: flex;
      justify-content: space-around;
      width: 100%;
      margin-bottom: 2rem;
    }

    .product-price {
      font-size: 1.2rem;
      font-weight: bold;
      color: var(--main-dark);
    }

    .add-to-cart-btn {
      background-color: var(--main-white);
      color: var(--main-dark);
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 5px;
    }

    .add-to-cart-btn:hover {
      background-color: var(--main-dark);
      color: var(--main-white);
    }

    @media (max-width: 1050px) {
      .product-detail {
        width: 90%;
      }
      .product-display {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
      }

      img {
        width: 50%;
      }
    }

    @media (max-width: 600px) {
      .product-detail {
        width: 90%;
        min-height: 100vh;
      }
      .product-display {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
      }

      img {
        width: 100%;
      }

      .product-info {
        padding: 0.5rem;
      }

      .description {
        margin: 0;
      }
    }
  </style>
</Layout>
