---
// src/components/ProductCard.astro
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import products from "../../data/products.json";

export function getStaticPaths() {
  return products.map(({ id }) => ({ params: { id } }));
}

const { id } = Astro.params;
const product = products.find((product) => product.id === Number(id));

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/*.{jpeg,jpg,png,gif}"
);

if (!images[product.image])
  throw new Error(
    `"${product.image}" does not exist in glob: "/src/images/*.{jpeg,jpg,png,gif}"`
  );
---

<Layout
  title="AK Boutique - Sklep Online | Odkryj Najnowsze Trendy"
  description="Odkryj najnowsze trendy w czołowym miejscu mody w Polsce! Zakupy online kolekcji stylowych ubrań i akcesoriów na każdą okazję. Podnieś swoją garderobę dzięki modnym i wysokiej jakości produktom. Szybka wysyłka w całej Polsce. Kup teraz i wyraź swój unikatowy styl!"
>
  <main transition:name={`photo-${String(product.id)}`} class="product-detail">
    <a class="back-btn" href="/">X</a>

    <div class="product-display">
      <div class="image">
        <Image src={images[product.image]()} alt={product.name} />
      </div>
      <div class="product-info">
        <h1>{product.name}</h1>
        <p class="description">{product.description}</p>

        <div class="price-and-cart">
          <span class="product-price">${product.price}</span>
          <button class="add-to-cart-btn" id="add-to-cart-btn"
            >Add to Cart</button
          >
        </div>
      </div>
    </div>
  </main>

  <style>
    .product-detail {
      background: var(--main-pink);
      padding: 2rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      width: 100%;
      margin: 1rem auto;
      overflow: auto;
    }

    .back-btn {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 2rem;
      background: none;
      border: none;
      cursor: pointer;
      text-decoration: none;
      color: inherit;
    }

    .back-btn:hover,
    .back-btn:focus,
    .back-btn:active,
    .back-btn:visited {
      text-decoration: none;
      padding: 0;
      margin: 0;
    }

    .product-display {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      place-items: center;
    }

    .image {
      grid-column: 1 / 2;
      place-self: center;
      width: 60%;
      margin-bottom: 1rem;
      text-align: center;
    }

    .image img {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }

    .product-info {
      text-align: center;
      width: 100%;
    }

    .product-info h1 {
      text-align: center;
      font-size: 2rem;
      color: var(--main-dark);
      margin-bottom: 2rem;
    }

    .description {
      font-size: 1rem;
      color: var(--secondary-dark);
      margin-bottom: 2rem;
      padding: 0 1rem;
    }

    .price-and-cart {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }

    .product-price {
      font-size: 1.5rem;
      font-weight: bold;
      color: var(--main-dark);
    }

    .add-to-cart-btn {
      background-color: var(--main-white);
      color: var(--main-dark);
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 5px;
      font-size: 1rem;
    }

    .add-to-cart-btn:hover {
      background-color: var(--main-dark);
      color: var(--main-white);
    }

    @media (min-width: 768px) {
      .image {
        width: 80%;
        max-width: 400px;
        margin-bottom: 2rem;
      }
      .product-display {
        flex-direction: row;
        align-items: flex-start;
        gap: 2rem;
      }

      .product-info {
        text-align: left;
        max-width: 600px;
      }

      .price-and-cart {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }
    }

    @media (min-width: 1024px) {
      .product-detail {
        padding: 3rem;
      }

      .image {
        width: 80%;
        max-width: 600px;
        margin-bottom: 2rem;
      }

      .product-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .product-info h1 {
        font-size: 2.5rem;
      }

      .description {
        font-size: 1.25rem;
      }

      .product-price {
        font-size: 1.75rem;
      }
    }

    @media (max-width: 600px) {
      .product-detail {
        width: 100%;
        min-height: 100vh;
        padding-bottom: 2rem;
      }

      .product-display {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
      }

      .image {
        width: 90%;
        margin-bottom: 1rem;
      }

      .product-info {
        padding: 1rem;
      }

      .description {
        text-align: justify;
        margin: 0;
      }

      .price-and-cart {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 2rem;
      }
    }
  </style>
</Layout>
